.showDetail {
    width: 50%;
}

.doNotShowDetail {
    width: 100%;
}

.detailCard {
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    border-radius: 1em;
}

.table {
    border-radius: 1em !important;
}

tr:hover {
    background-color: rgb(202, 240, 255);
    cursor: pointer;
}